body{
    background: url(temp.png) repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(29, 93%, 23%);
    overflow:scroll;
    background-size: cover;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.container{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
nav{
    width: 100%;
    background: url(temp.png);
    padding: 0.7rem 0;
    background-position: fixed;
    top: 0;
    z-index: 10; 
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}
.search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
}
nav .button{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    background-color: rgb(179, 108, 37);
    transition: all 300ms ease;
    text-align: right;
}
.btn:hover{
    text-decoration: underline;
    background: rgb(208,191,64);
}
.link{
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: rgb(179, 108, 37);
    transition: all 300ms ease;
    text-align: right;
}
.link:hover{
    background: rgb(208,191,64);
}
.left {
    left: 0px;
    width: 400px;
    border: 3px solid transparent;
    padding: 5px;
    top: 400px;
    text-align: justify; 
  }
  .center {
    position: absolute;
    left: 415px;
    width: 400px;
    border: 3px solid transparent;
    padding: 5px;
    top: 440px;
    text-align: justify;
  }
  .main{
    font-size: 22px;
  }
  .mainone{
    font-size: 22px;
  }
  .right{
    position: absolute;
    right: 0px;
    width: 400px;
    border: 3px solid transparent;
    padding: 5px;
    top: 440px;
    text-align: justify;
  }
  .mainthree{
    font-size: 22px;
  }
  .quotes{
    position: absolute;
    right: 0px;
    width: 400px;
    border: 3px solid transparent;
    padding: 5px;
    top: 620px;
    text-align: justify;
  }
 
 .box{
  width:1220px;
  height: 300px;
  padding: 130px 0px 50px 0px;
  margin: 30px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border: 10px transparent;
  background-image: url(WhatsApp\ Image\ 2023-10-25\ at\ 00.18.52_4df5fce9.jpg);
  background-size: cover;
  text-align: center;
}
.head{
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#discoveryBox {
  clear: both;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  background-color: #f4f2e9;
  height: 400px;
  width: 750px;
  margin-top: 90px;
}
#discoveryBox h2 {
  margin: 0 0 15px 15px;
}
.discoveryBoxDiscovery {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA%2FtpB3AAAAOElEQVQIW2M6uG%2FlfyZGRkYGdIIBCKAsRgYMWXSCAU5gUYzVAAaELA5tCHUQAxjQZIFir16%2FhXAByw8GmnhQCm8AAAAASUVORK5CYII%3D);
}
.discoveryBoxDiscovery {
  clear: both;
  margin-top: 20px;
  height: 170px;
  background-position: bottom;
  background-repeat: repeat-x;
}
.discoveryBoxDiscovery .discoverySourceBooks {
  float: left;
  margin-left: 15px;
}
a {
  color: #00635d;
  text-decoration: none;
}
.bookImgSimilar {
  float: left;
  height: 100px;
  margin: 0 12px 0 0;
}
img {
  border: 0;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.discoveryBoxResultBook {
  float: right;
  width: 200px;
  margin: 0 10px 0 0;
  padding: 0;
  overflow: hidden;
}
.discoveryBoxDiscovery .discoveryBoxArrow {
  float: right;
  height: 177px;
  margin: 0;
}
.discoveryBoxDiscovery {
  clear: both;
  margin-top: 20px;
  height: 170px;
  background-position: bottom;
  background-repeat: repeat-x;
}
.discoverySourceBooks {
  float: left;
  margin-left: 15px;
}
.discoveryBoxResultBook {
  float: right;
  width: 200px;
  margin: 0 10px 0 0;
  padding: 0;
  overflow: hidden;
}
.discoveryBoxArrow {
  margin-right: 45px;
}
.discoveryBoxResultBook .discoveryBoxResultDescriptors {
  float: right;
  width: 110px;
  margin-top: 0;
  color: black;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bolder;
}
.discoveryBoxResultBook {
  float: right;
  width: 200px;
  margin: 0 10px 0 0;
  padding: 0;
  overflow: hidden;
}
.bookImgSimilar .reflected, .bookImgDiscovered .reflected {
  height: 100px;
}
.discoveryBoxDiscovery .discoveryBoxArrow img {
  margin: 80px 10px 0 0;
}
.centerdiv{
  height: 10px;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  background-color: transparent;
  color: #fff;
  padding: 50px;
}
.link1{
  height: 50px;
  width: 50px;
  background-color:#f5f6fa;
  border-radius: 25px;
  text-align:center;
  margin:0px 0px -30px 0px;
  line-height: 60px;
}
.link2{
  height: 50px;
  width: 50px;
  background-color:#f5f6fa;
  border-radius: 25px;
  text-align: center;
  margin: 0px 20px -30px 20px;
  line-height: 60px;
}
.link3{
  height: 50px;
  width: 50px;
  background-color:#f5f6fa;
  border-radius: 25px;
  text-align: center;
  margin: 0px 0px -30px 0px;
  line-height: 60px;
}
.link1 i{
  transition: all 0.3s linear;
}
.link2 i{
  transition: all 0.3s linear;
}
.link3 i{
  transition: all 0.3s linear;
}
.link1:hover i{
  transform: scale(1.4);
}
.link2:hover i{
  transform: scale(1.4);
}
.link3:hover i{
  transform: scale(1.4);
}
.fa-instagram{
  color: #e84393
}
.fa-twitter{
  color: #0097e6;
}
.fa-facebook{
  color: rgb(0, 119, 230);
}
.icons{
    text-align: center;
    color: #fff;
    position: absolute;
    margin-top: 300px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    margin:0;
}
footer{
    background: url(temp5.png) fixed;
    color: #fff;
    text-align: center;
    padding: 30px;
}




